/* Estilização geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1C1C1C; /* Cor de fundo semelhante ao padrão do Free Fire */
}

/* Estilização do cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background: #000; /* Preto sólido */
    color: #FFD700; /* Dourado para o texto */
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

/* Imagem principal abaixo do cabeçalho */
.main-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

/* Estilização da seleção de diamantes em forma horizontal */
.diamond-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
}

.diamond-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.diamond-option:hover {
    background-color: #FF6F00; /* Laranja brilhante */
    border: 2px solid #FFD700;
}

.diamond-option input {
    display: none;
}

.diamond-option img {
    width: 100px;  /* Ajusta o tamanho da imagem */
    margin-bottom: 10px;
}

.payment-methods {
    margin-top: 20px;
    text-align: center;
}

.payment-methods h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFD700; /* Dourado */
}

.payment-methods label {
    display: inline-block;
    margin: 10px;
    background-color: #242424;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
}

.payment-methods label:hover {
    background-color: #FF6F00;
}

.payment-methods input {
    display: none;
}

.submit-btn {
    background-color: #FF6F00; /* Laranja brilhante */
    color: #FFFFFF;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #FFD700; /* Dourado */
}

/* Imagens dos personagens */
.character-images {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.character-left, .character-right {
    width: 200px;
    height: auto;
}

/* Estilo do conteúdo principal */
.content {
    padding: 20px;
    background-color: #2C2C2C; /* Cor de fundo do conteúdo */
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    color: #FFFFFF;
  }
